// Button
//----------------------------

@import 'functions';

.btn{
    background:$action-blue;
    @include border-radius(3px);
    padding:10px 15px;
    color:#fff;
    &:hover{
        text-decoration:none;
        background:$action-blue-hover;
        color:#fff;
        border:none;
    }
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    border:0;
    &:focus{
        @include tab-focus(); 
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor:not-allowed; 
    }
}

