@import 'functions';

$img-radius:5px;
$img-border-color:#ddd;

.img-rounded{
    @include border-radius($img-radius);
}

.img-boedered{
     display: inline-block;
     height: auto;
     max-width: 100%;
     padding: 4px;
     background-color: #ffffff;
     border: 1px solid $img-border-color;
}


.img-circle{
    @include border-radius(50%);
}
