@import 'functions';

$nav-height:50px;
$nav-container-height:50px;
$menu-width:30px;

.nav{
    position:fixed;
    top:0;
    z-index:9999;
    width:100%;
    height:$nav-height;
    border-bottom:1px solid rgba(0,0,0,0.1);
    line-height:$nav-height;
    color:#fff;
    background:#333;
    @include clearfix();
    .nav-container{
        .logo{
            float:left; 
        }
        @include center-block();
        height:$nav-container-height;
        padding:0 2%;
        position:relative;
    }
    a{
        color:$font-color; 
        &:hover{
            text-decoration:none; 
        }
    }
    .search-form{
        position:relative;
        .fa-search{
            position:absolute; 
            right:40%;
            color:#000;
            top:18px;
            font-size:14px;
        }
        width:50%;
        margin-left:2%;
        .search{
            display:inline-block;
            width:60%;
            border:1px solid #ddd;
            height:20px;
            padding:5px;
            font-size:14px;
            font-weight:bold;
            vertical-align:middle;
            @include border-radius(3px);
        }
        button{
            display:inline-block;
            vertical-align:middle;
            margin-left:2%;
            height:30px;
            line-height:30px;
            padding:0 10px;
            color:#fff;
            border:none;
            background:$action-blue;
            @include border-radius(3px);
        }
    }
    .menu{
        position:absolute;
        text-align:right;
        right:0;
        width:40%;
        height:50px;
        >li{
            float:right;
            text-align:center;
            vertical-align:middle;
            @include border-radius(3px);
            a{
                border:none;
                padding:0 10px;
                @include border-radius(3px);
                display:inline-block; 
                color:#999;
                &:hover{
                    color:#ddd;
                }
            }
        }
    }
}

footer{
    color:#999;
    a{
        color:#999;
        &:hover{
            color:#666; 
        }
    }
    padding:20px;
    border-top:1px solid #e5e5e5;
    height:30px;
    line-height:30px;
    p{
        display:inline-block; 
    }
    .ft-meta{
        margin-left:10px;
        vertical-align:middle;
        display:inline-block; 
        li{
            float:left; 
            margin-right:10px;
        } 
    }
}
