@import 'functions';

$nav-height:50px;
$nav-container-height:50px;
$menu-width:30px;

.nav{
    border-bottom:1px solid rgba(0,0,0,0.1);
    position:fixed;
    top:0;
    z-index:10011;
    width:100%;
    height:$nav-height;
    line-height:$nav-height;
    color:#fff;
    background:rgba(0,0,0,.8);
    @include clearfix();
    .nav-container{
        padding:0 30px;
        @include center-block();
        @include clearfix();
        width:$main-width;
        height:$nav-container-height;
        position:relative;
        .logo{
            width:80px;
            float:left;
        }
    }
    a{
        color:$font-color;
        &:hover{
            text-decoration:none;
        }
    }
    .search-form{
        position:relative;
        .fa-search{
            cursor:pointer;
            position:absolute;
            right:39%;
            color:#000;
            top:18px;
            font-size:14px;
        }
        width:50%;
        .search{
            width:60%;
            border:1px solid #ddd;
            padding:5px;
            font-size:14px;
            font-weight:bold;
            vertical-align:middle;
            @include border-radius(3px);
        }
    }
    .menu{
        position:absolute;
        text-align:right;
        right:0;
        width:40%;
        height:50px;
        li{
            position:relative;
            float:right;
            text-align:center;
            vertical-align:middle;
            @include border-radius(3px);
            a{
                border:none;
                padding:0 10px;
                @include border-radius(3px);
                display:inline-block;
                color:#999;
                &:hover{
                    color:#ddd;
                }
                .tipsnum{
                    position:absolute;
                    top:7px;
                    left:28px;
                    background:$action-red;
                    color:#fff;
                    @include border-radius(8px);
                    padding:0 5px;
                    height:16px;
                    line-height:16px;
                    text-align:center;
                    font-size:12px;
                }
            }
            .menu-avatar{
                width:32px;
                height:32px;
                margin-right:10px;
                background:#fff;
                @include border-radius(3px);
            }
        }
    }
}

footer{
    border-top:2px solid #f6f6f6;
    width:100%;
    height:90px;
    font-size:12px;
    color:#bbb;
    @include clearfix();
    .wrapper{
        line-height:24px;
        padding:20px 30px;
        margin:0 auto;
        width:$main-width;
    }
    a{
        display:inline-block;
        color:#bbb;
        &:hover{
            color:#333;
        }
    }
    .ft-meta{
        @include clearfix();
        vertical-align:middle;
        display:block;
        li{
            float:left;
            margin-right:10px;
        }
    }
}
