@import 'vars';

//reset
//------------------------------------------

html{
    font:$font;
}

body{
    margin:0;
    padding:0;
    background:$body-bg;
    width:100%;
    color:$font-color;
    a{
        text-decoration:none;
        color:$link-color;
        &:hover{
            color:$link-hover-color; 
        }
    }
}

//Images
img{
    vertical-align:middle;
    border:0;
}

p,ul,ol{
    margin:0;
}

ul,ol{
   padding-left:0; 
   list-style:none;
}

.list-inline{
    >li{
        display:inline-block; 
    }
}
