@import 'vars';

//reset
//------------------------------------------
html{
    font:$font;
}

body{
    margin:0;
    padding:0;
    background:$body-bg;
    width:100%;
    color:$font-color;
    word-wrap:break-word;
    a{
        text-decoration:none;
        color:$link-color;
        &:hover{
            color:$link-hover-color;
        }
    }
    h1,h2,{
        font-size:18px;
        margin:0;
    }
    h3,h4{
        font-size:14px;
        margin:0;
    }
    h5,h6{
        font-size:12px;
        margin:0;
    }
}

::selection {
  background:#a8d1ff;
}
::-moz-selection {
  background:#a8d1ff;
}

//Images
img{
    vertical-align:middle;
    border:0;
}

p,ul,ol{
    margin:0;
}

ul,ol{
   padding-left:0;
   list-style:none;
}
.list-inline{
    >li{
        display:inline-block;
    }
}
.fa{
    margin-right:5px;
}
.date{
    color:#ccc;
}
