//pad
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {

    
}
//phone
@media screen and (max-device-width: 479px){

    .nav{
        .search-form{
            margin-left:10px;
            .search{
            }
            button{
                margin-left:0; 
            }
        }
        .menu{
            >li{
                margin:10px 3px;
            }
        }
    }

    .main{ 
        .main-wrapper{
            width:320px; 
        }
    }
}
