@import "functions.scss";
@import "animate.scss";

.bg{
    position:fixed;
    background:#000;
    top:50px;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    min-width:1024px;
    min-height:768px;
    img{
        width:100%;
        min-width:1024px;
        min-height:768px;
    }
}
.main{
    width:100%;
    background:#f9f9f9;
    padding:20px 0;
    .main-wrapper{
        @include clearfix();
        @include border-radius(5px);
        background:#fff;
        overflow:hidden;
        margin:60px auto 10px;
        width:$main-width;
        min-height:620px;
        padding:30px;
        color:#666;
    }
}
.content{
    float:left;
    width:800px;
    .list-wrapper{
        h1{
            float:left;
            margin:0;
            font-size:24px;
        }
    }
    .topic-main,.reply-list,.hot-reply-list{
        .report{
            color:#ccc;
            display:none;
        }
    }
}
.sidebar{
    margin-left:30px;
    width:300px;
    float:left;
    h3,h4{
        margin-bottom:10px;
    }
    .side-mod{
        margin-bottom:20px;
    }
    .ad{
        width:100%;
        img{
            width:100%;
            max-width:100%;
        }
    }
    .back-action{
        a{
            font-size:14px;
        }
    }
}
//list
.new-post-btn{
    display:inline-block;
    height:24px;
    line-height:24px;
    background:$action-green;
    color:#fff;
    padding:8px 15px;
    border:none;
    text-decoration:none;
    @include border-radius(3px);
    &:hover{
        text-decoration:none;
        background:$action-green-hover;
        color:#fff;
        border:none;
        .fa{
            color:#fff;
        }
    }
    .fa{
        color:rgba(0,0,0,.2);
    }
}
.filter-bar{
    @include clearfix();
    margin:10px 0;
    ul{
        li{
            float:left;
            margin-right:10px;
            padding-right:10px;
            border-right:1px solid $border-color;
            font-weight:bold;
            &:last-child{
                margin-right:0;
                padding-right:0;
                border-right:none;
            }
            a{
                color:#999;
                &:hover,&.active{
                    color:#333;
                }
            }
        }
    }
}
.topic-list{
    margin:20px 0;
    width:100%;
    overflow:hidden;
    li{
        @include clearfix();
        border-bottom:1px solid $border-color;
        position:relative;
        padding:10px;
        h2{
            margin:0;
            padding:0;
            line-height:24px;
            .fa{
                vertical-align:middle;
                font-size:14px;
            }
            a{
                color:#333;
                vertical-align:middle;
            }
        }
        .author-avatar{
            width:48px;
            margin-right:2px;
            float:left;
            img{
                background:#fff;
                width:48px;
                height:48px;
                @include border-radius(5px);
            }
        }
        .topic-title{
            float:left;
            overflow:hidden;
            width:500px;
            padding:0 20px;
        }
        .topic-detail{
            line-height:48px;
            float:left;
            width:90px;
        }
        .topic-last-reply{
            line-height:48px;
            width:100px;
            float:left;
        }
    }
}
.last-reply-list{
    ul{
        li{
            a{
                color:#666;
                &:hover{
                    color:$link-color;
                }
            }
            @include clearfix();
            padding-bottom:5px;
            margin-bottom:5px;
            .lastreply-avatar,.lastreply-content{
                float:left;
            }
            .lastreply-avatar{
                margin-right:10px;
                img{
                    background:#fff;
                    width:48px;
                    height:48px;
                    @include border-radius(5px);
                }
            }
            .lastreply-content{
                width:210px;
                .time{
                    margin-left:10px;
                    color:#ccc;
                }
            }
        }
    }
}
//detail
//
.topic-main{
    width:100%;
    h1{
        font-size:18px;
        margin-bottom:10px;
        .user-avatar{
            img{
                background:#fff;
                width:48px;
                height:48px;
                @include border-radius(5px);
            }
        }
    }
    .topic-date{
        font-size:12px;
        color:#333;
        i{
            font-size:14px;
        }
        span{
            vertical-align:middle;
            margin-left:5px;
        }
    }
    .topic-content{
        margin:20px 0;
        font-size:14px;
        color:#333;
        img{
            max-width:100%;
            &.canzoom{
                cursor:-webkit-zoom-in;
                cursor:-moz-zoom-in;
                cursor:zoom-in;
            }
        }
        ul {
            list-style-type: disc;
            list-style-position: inside;
        }
        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }
        ul ul, ol ul {
            list-style-type: circle;
            list-style-position: inside;
            margin-left: 15px;
        }
        ol ol, ul ol {
            list-style-type: lower-latin;
            list-style-position: inside;
            margin-left: 15px;
        }
    }
    .topic-meta{
        font-size:14px;
        @include clearfix();
        li{
            color:#ccc;
            margin-right:20px;
            float:left;
            a{
                display:inline-block;
                color:#ccc;
                &:hover{
                    color:#999;
                }
            }
            &.share i{
                cursor:pointer;
                font-size:14px;
                margin-right:5px;
            }
        }
    }
}
.history-list{
    li{
        position:relative;
        .fa{
            font-size:10px;
            position:absolute;
            color:#ddd;
            left:0;
            top:8px;
            vertical-align:middle;
        }
        padding:2px 0 2px 14px;
        a{
            color:#666;
            &:hover{
                color:$link-color;
            }
        }
    }
}
#reply-reply-desc{
    line-height:22px;
    .fa{
        color:rgba(0,0,0,.2);
        line-height:22px;
        cursor:pointer;
    }
    color:#8a6d3b;
    background:#fcf8e3;
    width: 97%;
    padding: 1%;
    border: 1px solid #faebcc;
    @include border-radius(3px);
}
#reply_content{
    width:97%;
    height:100px;
    border:1px solid #ddd;
    padding:1%;
    font-size:14px;
    resize:vertical;
}
.reply-form{
    margin-top:20px;
    button[type=submit]{
        padding:8px 20px;
        height:24px;
        margin-top:20px;
        background-color:$action-blue;
        &:hover{
            background-color:$action-blue-hover;
        }
    }
}
.reply-list h2,.hot-reply-list h2{
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
    .fa{
        font-size:18px;
        margin-right:5px;
    }
}
.reply-list,.hot-reply-list{
    margin-top:20px;
    .reply-item{
        border-bottom:1px solid #eee;
        width:100%;
        @include clearfix();
        &:last-child{
            border-bottom:none;
        }
    }
    .reply-wrapper{
        margin:20px 0;
        position:relative;
    }
    .user-avatar-wrapper{
        position:absolute;
        left:0;
        top:0;
        width:48px;
        margin-right:10px;
    }
    .user-avatar-wrapper img{
        width:48px;
        height:48px;
        @include border-radius(5px);
    }
    .reply-main{
        padding:0 0 0 70px;
        @include clearfix();
        .uname,.usignature{
            font-size:16px;
            vertical-align:middle;
        }
        .usignature{
            font-size:14px;
            color:#ccc;
        }
        .date{
            margin-left:2%;
            vertical-align:middle;
            color:#ccc;
        }
        .reply-content{
            line-height:24px;
        }
        .rcontent{
            color:#333;
        }
        .rrwrapper{
            border-left:3px solid #ccc;
            padding-left:8px;
            margin:8px 0;
        }
        .rrdesc{
            color:#ccc;
        }
    }
    .reply-meta{
        margin-top:5px;
        @include clearfix();
        li{
            float:left;
            margin-right:12px;
        }
        .fa{
            margin-right:2px;
        }
        a{
            display:inline-block;
            color:#ccc;
            &:hover{
                color:$link-color;
            }
        }
    }
}
.topic-collect{
    font-size:20px;
    button{
        margin-left:10%;
        @include border-radius(999em);
        background:none;
        border:1px solid #a9d8b2;
        padding:10px 20px;
        color:#57ad68;
        &:hover{
            border:1px solid #57ad68;
        }
        span{
            font-size:20px;
        }
    }
}
//reg,login
.reg-form,.login-form{
    position:fixed;
    top:120px;
    z-index:1;
    padding:50px 100px;
    @include border-radius(5px);
    font-size:14px;
    color:#fff;
    background:rgba(0,0,0,.7);
    width:530px;
    margin:0 200px;
    h1{
        text-align:center;
        margin-bottom:30px;
    }
    .row{
        margin:30px 0 10px 0;
    }
    input[type="text"],input[type="password"]{
        width:80%;
        padding:10px 2%;
        margin-left:2px;
        font-size:16px;
        height:20px;
        line-height:20px;
        @include border-radius(3px);
        border:1px solid #ddd;
        vertical-align:middle;
        background:#f9f9f9;
        text-align:left;
    }
    label,.tips{
        vertical-align:middle;
    }
    label{
        text-align:center;
        width:50px;
        line-height:40px;
    }
    .tips{
        color:$red-error;
        display:none;
        position:absolute;
        top:40px;
        line-height:40px;
        height:40px;
        left:50px;
    }
    .rememberme{
        margin-left:54px;
    }
    .act{
        @include clearfix();
        text-align:left;
        button{
            margin-left:56px;
            float:left;
            height:40px;
            padding:0 30px;
            background:$action-blue;
            &:hover{
                background:$action-blue-hover;
            }
            .fa{
                color:#fff;
            }
        }
        .goregister,.gologin{
            height:40px;
            margin-left:30px;
            line-height:40px;
            color:$action-green;
            &:hover{
                color:$action-green-hover;
            }
        }

    }
    .loading{
        position:absolute;
        left:50px;
        top:50px;
    }
}
/*
 * settings
 */
.settings{
    .switch-triggers{
        @include clearfix();
        li{
            margin-right:10px;
            text-align:center;
            float:left;
            a{
                font-weight:bold;
                font-size:14px;
                border:none;
                padding:0 10px;
                color:#ccc;
                display:block;
                height:38px;
                line-height:30px;
                border-bottom:none;
                &:hover{
                    color:$font-color;
                    height:34px;
                    border-bottom:4px solid $font-color;
                    @include transition(all .15s ease-in-out);
                }
            }
            &.cur{
                a{
                    height:34px;
                    color:$font-color;
                    border-bottom:4px solid $font-color;
                }
            }
        }
    }
    .switch-contents{
        padding:10px;
    }
    form{
        .wyurl{
            padding-left:65px;
            margin:10px 0;
        }
        button[type=submit]{
            margin:10px 0;
            background:$action-blue;
            &:hover{
                background:$action-blue-hover;
            }
            &.ml{
                margin-left:62px;
            }
        }
        .up-trigger{
            .fa{
                font-size:16px;
            }
            height:30px;
            line-height:30px;
            border:none;
            padding:0px 10px;
            margin-bottom:10px;
            background:$action-green;
            @include border-radius(3px);
            color:#fff;
            outline:0;
            display:block;
        }
    }
    #showurl{
        color:$action-red;
    }
    #show-avatar{
        width:128px;
        height:128px;
        @include border-radius(5px);
    }
}
/*
 * new topic
 */
#new-topic{
    font-size:16px;
    input,textarea{
        border:1px solid #ddd;
        @include border-radius(3px);
        margin:10px 0;
    }
    h1 a{
        font-size:14px;
        line-height:30px;
    }
    .fa-video-camera:hover{
        color:#06c;
    }
    #new-topic-title{
        width:1098px;
        height:40px;
        padding:0 15px;
        font-weight:bold;
        font-size:16px;
    }
    #new-topic-content{
        margin:10px 0;
        border:1px solid #ddd;
        @include border-radius(3px);
        width:1128px;
        height:450px;
        resize:vertical;
        background:#fff;
    }
    button[type=submit]{
        width:100px;
        height:24px;
        line-height:24px;
        background:$action-blue;
        color:#fff;
        border:none;
        @include border-radius(3px);
        &:hover{
            background:$action-blue-hover;
        }
    }
    #clear-save{
        float:right;
    }
    #auto-save-trigger{
        margin-left:20px;
    }
    #auto-save{
        display:none;
        margin-left:15px;
        .fa{
            margin-right:5px;
        }
    }
}
.addlink-popup,.uploadimg-popup,.addvideo-popup{
    .popup-wrapper{
        margin-top:20px;
    }
    .row,p{
        margin:10px 0;
    }
    label {
        text-align:center;
        width:80px;
    }
    input[type="text"]{
        width:200px;
        height:30px;
        border:1px solid #ddd;
        @include border-radius(3px);
        padding:0 5px;
    }
    button{
        width:100px;
        height:40px;
        line-height:40px;
        background:$action-green;
        color:#fff;
        border:none;
        padding:0;
        @include border-radius(3px);
        &:hover{
            background:$action-green-hover;
        }
    }
    #video-url{
        width:270px;
        margin-right:10px;
    }
}
//loading
.more{
    margin-top:20px;
    text-align:center;
    font-size:16px;
}
//pager
.pager{
    margin:16px 0;
    line-height:40px;
    height:40px;
    .pager-wrapper{
        float:right;
        margin:0 auto;
        @include clearfix();
        li{
            line-height:40px;
            height:40px;
            float:left;
            text-align:center;
            padding:0 3px;
            margin:0 2px;
            a{
                vertical-align:middle;
                color:#ccc;
                .fa{
                    vertical-align:middle;
                    font-size:28px;
                }
                &.cur{
                    color:#a1a1a1;
                    cursor:default;
                }
                &.nums{
                    font-size:24px;
                }
                &:hover{
                    color:#a1a1a1;
                }
            }
        }
    }
}
//message
.message-list{
    li{
        margin-top:10px;
        padding:10px 0;
        border-bottom:1px solid $border-color;
        .user-avatar{
            margin-right:12px;
        }
        p{
            line-height:24px;
            margin-left:60px;
            .date{
                color:#ccc;
                margin-left:10px;
            }
        }
    }
}
#new-message-form{
    #new-message{
        margin:10px 0;
        border:1px solid #ddd;
        width:50%;
        min-height:100px;
        overflow-y:scroll;
        padding:5px;
    }
    .btn{
        background-color:$action-blue;
        margin:10px 0;
        &:hover{
            background-color:$action-blue-hover;
        }
    }
}
//tips
.tips-list{
    .action-bar{
        margin:15px 0;
        a{
            margin-right:10px;
            padding:10px;
            @include border-radius(5px);
            color:#fff;
            background:$action-red;
            &:hover{
                background:$action-red-hover;
            }
        }
    }
    .tips-item{
        border-bottom:1px solid $border-color;
        padding:10px 0;
    }
}
.collect-list li{
    height:45px;
    line-height:45px;
    border-bottom:1px solid $border-color;
}
.collect-list li .date{
    color:#999;
    margin-left:10px;
}
.collect-list li .topic-title:hover{
    text-decoration:underline;
}
//tip
.g-tip{
    font-weight:bold;
    @include border-radius(3px);
    position:fixed;
    top:60px;
    width:20%;
    left:40%;
    line-height:40px;
    text-align:center;
    background:#fcf8e3;
    opacity:.8;
    color:#8a6d3b;
    z-index:10002;
    border:1px solid #faebcc;
    &.success{
        color:#3c763d;
        background-color:#dff0d8;
        border-color:#d6e9c6;
    }
    &.error{
        color:#a94442;
        background-color:#f2dede;
        border-color:#ebccd1;
    }
}
//user index
.user-avatar{
    background:#fff;
    @include border-radius(5px);
}
.user-wrapper{
    position:relative;
    overflow:hidden;
    .user-top-bg{
        position:relative;
        z-index:1;
        width:100%;
        max-height:400px;
        img.user-avatar{
            z-index:10;
            position:absolute;
            left:61px;
            bottom:-60px;
            width:128px;
            height:128px;
            @include border-radius(5px);
            border:5px solid #fff
        }
    }
    .user-main{
        @include clearfix();
        width:$main-width;
        position:relative;
    }
    .user-detail{
        margin-top:20px;
        float:left;
        width:260px;
        overflow:hidden;
        padding-bottom:10px;
        z-index:99;
        text-align:center;
        h1,h3,p,.focus{
            margin:0 auto;
            width:250px;
        }
        h1{
           font-size:24px;
        }
        p{
           border-top:1px solid #ddd;
           margin:8px auto;
           padding:12px 0;
           text-align:left;
        }
        .focus{
            @include clearfix();
            margin:0 auto;
            padding:15px 0;
            margin-top:15px;
            border-top:1px solid #ddd;
            border-bottom:1px solid #ddd;
            dl{
                float:left;
                width:101px;
                margin: 0 12px;
                dt,dd{
                    margin:0;
                    font-size:16px;
                    font-weight:bold;
                    text-align:center;
                }
            }
        }
    }
    .user-bar{
        @include clearfix();
        height:50px;
        line-height:50px;
        padding-left:280px;
        font-size:16px;
        .action{
            font-size:13px;
            vertical-align:middle;
            float:right;
            color:#999;
            .btn{
                height:24px;
                line-height:24px;
            }
            .message-btn{
                background-color:$action-gray;
                &:hover{
                    background-color:$action-gray-hover;
                }
                .fa{
                    margin-right:3px;
                }
            }
            a{
                margin-left:10px;
                background-color:$action-green;
                &:hover{
                    background:$action-green-hover;
                }
            }
            #add-relation{
                .fa{
                    width:12px;
                }
                width:60px;
            }
            #del-relation,.godel{
                .fa{
                    width:15px;
                }
                width:80px;
            }
            #del-relation{
                background-color:$action-blue;
                &:hover{
                    background:$action-blue-hover;
                }
                &.godel{
                    background-color:$action-red;
                    &:hover{
                        background:$action-red-hover;
                    }
                }
            }
        }
    }
    .car-list{
        width:750px;
        margin-left:20px;
        padding:10px 0 10px 10px;
        float:right;
    }
    .user-topics,.user-replys{
        margin-left:20px;
        width:750px;
        padding:10px 0 10px 10px;
        float:right;
        h2{
            color:#666;
            padding-left:10px;
            border-left:5px solid #ddd;
            .fa{
                width:5px;
                margin-right:5px;
            }
        }
        ul{
            li{
                font-size:14px;
                padding-left:10px;
                margin:6px 0;
                a{
                    width:650px;
                    display:inline-block;
                    font-weight:bold;
                    text-decoration:none;
                    color:#666;
                    &:hover{
                        color:$link-color;
                    }
                }
                span{
                    color:#ccc;
                    float:right;
                }
            }
        }
    }
}
//popup
.popup{
    img{
        &.canzoomout{
            cursor:-webkit-zoom-out;
            cursor:-moz-zoom-out;
            cursor:zoom-out;
        }
        max-width:100%;
    }
    .popup-wrapper{
        position:relative;
    }
    @include clearfix();
    width:50%;
    padding:10px;
    background:#fff;
    display:none;
    @include border-radius(5px);
    @include box-shadow(0 1px 20px rgba(0, 0, 0, 0.3));
    .p-close{
        //@include border-radius(50%);
        //background:#ff5d4e;
        position:absolute;
        text-align:center;
        width:16px;
        height:16px;
        line-height:16px;
        font-size:14px;
        right:5px;
        top:5px;
        cursor:pointer;
        display:block;
        color:#333;
        margin:0;
    }
}
//addcar
#addcar-form,#addcar-img{
    padding:0 30px;
    h2{
        border-bottom:1px solid $border-color;
        padding-bottom:6px;
        margin:28px 0 18px 0;
    }
    #otherbrand{
        display:none;
        width:100px;
        margin-left:10px;
    }
    input[type=text],textarea{
        width:600px;
    }
    #showcarurl{
        color:$action-red;
    }
    label{
        width:80px;
    }
    select{
        height:36px;
        width:100px;
    }
    .wycarurl{
        margin:10px 0 0 5px;
    }
    .caritem{
        .remove-item{
            display:inline-block;
            vertical-align:middle;
            text-align:center;
            width:30px;
            height:30px;
            line-height:30px;
            color:$action-red;
        }
    }
    .carimgs-list{
        width:1120px;
        @include clearfix();
    }
    .carimg{
        width:202px;
        position:relative;
        float:left;
        margin-right:15px;
        .remove-img{
            position:absolute;
            display:none;
            top:-10px;
            left:-10px;
            width:20px;
            height:20px;
            text-align:center;
            background:#fff;
            @include border-radius(10px);
            color:$action-red;
            .fa{
                font-size:20px;
            }
        }
        img{
            width:202px;
            height:150px;
        }
        input[type=text]{
            margin-top:8px;
            @include border-radius(3px);
            width:190px;
            height:30px;
            padding:0 5px;
        }
    }
    .ml10{
        margin-left:10px;
    }
    .params{
        input[type=text]{
            text-align:right;
            width:50px;
            margin-right:5px;
        }
        input[type=radio]{
            vertical-align:middle;
        }
    }
    .base{
        #carname{
            width:500px;
        }
    }
}
.about{
    h1{
        margin-bottom:12px;
    }
    h3{
        margin:22px 0 5px 0;
    }
}
.user-list{
    @include clearfix();
    width:100%;
    li{
        width:80px;
        height:96px;
        overflow:hidden;
        text-align:center;
        float:left;
        margin-top:14px;
        text-align:center;
        .avatar,.user-avatar{
            margin:0 auto;
            width:48px;
            height:48px;
        }
        .name{
            margin-top:10px;
            line-height:18px;
            color:#000;
        }
    }
}
