@import "functions.scss";
@import "animate.scss";

.main{
    width:100%;
    padding:20px 0;
    .main-wrapper{
        @include clearfix();
        margin:0 auto;
        width:1000px;
        padding:1%;
        footer{
            margin-top:20px;
            padding-top:20px;
            border-top:1px dashed #ccc;
        }
    }
}
//index
.new-post-btn{
    display:inline-block;
    height:40px;
    line-height:40px;
    background: $global-color;
    color:#fff;
    padding:0 15px;
    border:none;
    text-decoration:none;
    @include border-radius(3px);
    &:hover{
        text-decoration:none;
        background:$global-color;
        color:#fff;
        border:none;
    }
}
.topic-list{
    width:100%;
    overflow:hidden;
    li{
        border-bottom:1px solid #e8e8e8;
        position:relative;
        width:100%;
        padding:30px 0px;
    }
}
//detail
.topic-tags{
    color:#666;
}
.topic-content{
    margin:20px 0;
    font-size:14px;
}
#replyContent{
    width:97%;
    height:100px;
    border:1px solid #ddd;
    padding:1%;
    font-size:14px;
}
.reply-form{
    margin-top:20px;
    button[type=submit]{
        width:100px; 
        height:40px;
        margin-top:20px;
        background:$global-color;
        color:#fff;
        border:none;
        @include border-radius(3px);
    }
}
.reply-list{
    .reply-item{
        width:100%;
        @include clearfix(); 
    }
    .reply-wrapper{
        margin:20px 0;
        position:relative;
    }
   .user-avatar{
       position:absolute;
       left:0;
       top:0;
       width:48px; 
       height:48px;
       margin-right:1%;
       img{
            width:48px; 
            height:48px;
            @include border-radius(3px);
       }
   }
   .reply-main{
       padding:0 0 0 60px;
       @include clearfix();
       margin:10px 0; 
        .uname{
            font-size:16px; 
            vertical-align:middle;
        }
        .date{
            margin-left:2%;
            vertical-align:middle;
            color:#ccc;
        }
   }
}

.reg-form,.login-form{
    width:60%;
    margin-left:30%;
    .row{
        margin:50px 0px; 
    }
    input[type="text"],input[type="password"]{
        width:200px;
        padding:10px;
        font-size:16px;
        height:20px; 
        line-height:20px;
        @include border-radius(3px);
        border:1px solid #ccc;
        vertical-align:middle;
    }
    label,span.tips{
        vertical-align:middle;
    }
    label{
        width:50px;
    }
    span.tips{
        color:$global-color;
        margin-left:10px;
        display:none;
    }
    .act{
        button{
                margin-left:52px;
                height:50px;     
                padding:0 30px;
                border:none;
                color:#fff;
                background:$global-color;
                @include border-radius(3px);
        } 
    }

}
/*
* settings
*/
#show-avatar,#current-avatar{
    width:64px;
    height:64px;
    @include border-radius(3px);
}

/*
* new topic
*/
#new-topic{
    font-size:16px;
    margin-top:50px;
    h1{
         font-size:24px; 
    }
    input,textarea{
        border:1px solid #ccc;
        @include border-radius(3px); 
        margin:10px 0;
    }
    #new-topic-title{
        width:95%;
        height:40px;
        padding:0 2%;
        font-weight:bold;
    }
    #new-topic-content{
        width:95%;
        height:300px;
        padding:2%;
    }
    button[type=submit]{
        width:100px; 
        height:40px;
        line-height:40px;
        background:$global-color;
        color:#fff;
        border:none;
        padding:0;
    }
}
