//font
//-----------------------
$font:12px/1.5 "Microsoft Yahei";
//colors
//-----------------------

//-----------------------
$body-bg:#fff;

//link color
//-----------------------
$link-color:blue;
$link-hover-color:red;

//form
$input-color-placeholder:#ddd;

$global-color:#E60000;

$border-color:#f0f0f0;
