//font
//-----------------------
$font:12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-color:#999;
//colors
//-----------------------

//-----------------------
$body-bg:#fff;

//link color
//-----------------------
$link-color:#4083AA;
$link-hover-color:#205F7E;

//form
$input-color-placeholder:#ddd;

$global-color:#be1931;

$border-color:#f0f0f0;

$action-green:#57AD69;
