.btn {
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear; }
  .btn:hover {
    text-decoration: none;
    color: #fff;
    border: none; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed; }
