html {
  font: 13px/1.7 "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  color: #8c8c8c;
  word-wrap: break-word; }
  body a {
    text-decoration: none;
    color: #4083aa; }
    body a:hover {
      color: #205f7e; }
  body h1, body h2 {
    font-size: 18px;
    margin: 0; }
  body h3, body h4 {
    font-size: 14px;
    margin: 0; }
  body h5, body h6 {
    font-size: 12px;
    margin: 0; }

::selection {
  background: #a8d1ff; }

::-moz-selection {
  background: #a8d1ff; }

img {
  vertical-align: middle;
  border: 0; }

p, ul, ol {
  margin: 0; }

ul, ol {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.fa {
  min-width: 16px;
  font-size: 14px;
  margin-right: 2px;
  vertical-align: baseline; }
  .fa.fa-spin {
    color: #999; }

.date {
  color: #ccc; }

.container {
  width: 100%;
  margin: 0 auto; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col {
  min-height: 1px;
  position: relative;
  float: left; }

.col-1 {
  width: 8.33333%;
  padding-left: 0;
  padding-right: 0; }

.col-2 {
  width: 16.66667%;
  padding-left: 0;
  padding-right: 0; }

.col-3 {
  width: 25%;
  padding-left: 0;
  padding-right: 0; }

.col-4 {
  width: 33.33333%;
  padding-left: 0;
  padding-right: 0; }

.col-5 {
  width: 41.66667%;
  padding-left: 0;
  padding-right: 0; }

.col-6 {
  width: 50%;
  padding-left: 0;
  padding-right: 0; }

.col-7 {
  width: 58.33333%;
  padding-left: 0;
  padding-right: 0; }

.col-8 {
  width: 66.66667%;
  padding-left: 0;
  padding-right: 0; }

.col-9 {
  width: 75%;
  padding-left: 0;
  padding-right: 0; }

.col-10 {
  width: 83.33333%;
  padding-left: 0;
  padding-right: 0; }

.col-11 {
  width: 91.66667%;
  padding-left: 0;
  padding-right: 0; }

.col-12 {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.fr {
  float: right !important; }

.fl {
  float: left !important; }

.t-r {
  text-align: right; }

.t-c {
  text-align: center; }

.t-l {
  text-align: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.posfix {
  position: fixed; }

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.user-avatar {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.user-avatar-origin {
  width: 128px;
  height: 128px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  border: 0; }

label {
  display: inline-block;
  font-weight: bold; }

input[type="radio"],
input[type="checkbox"] {
  line-height: normal; }

input[type="file"] {
  display: block; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #dddddd; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
  color: #dddddd; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #dddddd; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #dddddd; }

.form .inp {
  display: block;
  width: 200px;
  height: 24px;
  line-height: 1.42857;
  padding: 3px 5px;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #dddddd; }
  .form .inp[disabled], .form .inp[readonly], .form .inp fieldset[disabled] {
    cursor: not-allowed; }

.form-block, .form-inline {
  margin-bottom: 30px; }

.form-block, .form-inline {
  display: block; }

.form-inline .inp, .form-inline input, .form-inline textarea {
  display: inline-block; }

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  padding-left: 20px;
  min-height: 14px;
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer; }

textarea {
  resize: none;
  height: auto; }

.form .row {
  margin: 12px 0; }
.form label {
  width: 60px; }
.form input[type=text], .form input[type=password], .form textarea {
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
.form input[type=text], .form input[type=password] {
  padding: 0 5px;
  width: 60%;
  height: 32px; }
.form textarea {
  padding: 5px;
  width: 60%;
  height: 96px; }
.form select {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  height: 30px; }
.form .submit-btn, .form button[type=submit], .form .upload-trigger {
  background: #3498db; }
.form .submit-btn, .form button[type=submit]:hover, .form .upload-trigger:hover {
  background: #5dade2; }

.btn {
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear; }
  .btn:hover {
    text-decoration: none;
    color: #fff;
    border: none; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed; }

.nav {
  position: fixed;
  top: 0;
  z-index: 10011;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8); }
  .nav:before, .nav:after {
    content: "";
    display: table; }
  .nav:after {
    clear: both; }
  .nav .nav-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1040px;
    height: 50px;
    position: relative; }
    .nav .nav-container:before, .nav .nav-container:after {
      content: "";
      display: table; }
    .nav .nav-container:after {
      clear: both; }
    .nav .nav-container .logo {
      width: 80px;
      float: left; }
  .nav a {
    color: #8c8c8c; }
    .nav a:hover {
      text-decoration: none; }
  .nav .search-form {
    position: relative;
    width: 50%; }
    .nav .search-form .fa-search {
      cursor: pointer;
      position: absolute;
      right: 39%;
      color: #000;
      top: 18px;
      font-size: 14px; }
    .nav .search-form .search {
      width: 60%;
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 14px;
      font-weight: bold;
      vertical-align: middle;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
  .nav .menu {
    position: absolute;
    text-align: right;
    right: 0;
    width: 40%;
    height: 50px; }
    .nav .menu li {
      position: relative;
      float: right;
      text-align: center;
      vertical-align: middle;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      .nav .menu li a {
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        color: #999; }
        .nav .menu li a:hover {
          color: #ddd; }
        .nav .menu li a .tipsnum {
          position: absolute;
          top: 7px;
          left: 28px;
          background: #e74c3c;
          color: #fff;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          border-radius: 8px;
          padding: 0 5px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          font-size: 12px; }
      .nav .menu li .menu-avatar {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }

footer {
  font-size: 12px;
  color: #999; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer .wrapper {
    line-height: 24px;
    padding: 20px 30px;
    border-top: 1px solid #f0f0f0;
    margin: 0 auto;
    width: 1040px; }
  footer a {
    color: #999; }
    footer a:hover {
      color: #666; }
  footer .ft-meta {
    vertical-align: middle;
    display: block; }
    footer .ft-meta:before, footer .ft-meta:after {
      content: "";
      display: table; }
    footer .ft-meta:after {
      clear: both; }
    footer .ft-meta li {
      float: left;
      margin-right: 10px; }

.bg {
  position: fixed;
  background: #000;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 1024px;
  min-height: 768px; }
  .bg img {
    width: 100%;
    min-width: 1024px;
    min-height: 768px; }

.main {
  width: 100%; }
  .main .main-wrapper {
    margin: 0px auto;
    width: 1040px;
    min-height: 650px;
    padding: 100px 10px 50px;
    color: #666; }
    .main .main-wrapper:before, .main .main-wrapper:after {
      content: "";
      display: table; }
    .main .main-wrapper:after {
      clear: both; }

.content {
  float: left;
  width: 740px; }
  .content .list-wrapper h1 {
    float: left;
    margin: 0;
    font-size: 24px; }
  .content .topic-main .report, .content .reply-list .report, .content .hot-reply-list .report {
    color: #ccc;
    display: none; }

.sidebar {
  margin-left: 30px;
  width: 270px;
  float: left; }
  .sidebar h3, .sidebar h4 {
    margin-bottom: 10px; }
  .sidebar .side-mod {
    margin-bottom: 20px; }
  .sidebar .ad {
    width: 100%; }
    .sidebar .ad img {
      max-width: 100%; }
  .sidebar .back-action a {
    font-size: 14px; }

.new-post-btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #1abc9c;
  color: #fff;
  padding: 0 15px;
  border: none;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .new-post-btn:hover {
    text-decoration: none;
    background: #48c9b0;
    color: #fff;
    border: none; }
    .new-post-btn:hover .fa {
      color: #fff; }
  .new-post-btn .fa {
    color: rgba(0, 0, 0, 0.2); }

.filter-bar {
  margin: 10px 0; }
  .filter-bar:before, .filter-bar:after {
    content: "";
    display: table; }
  .filter-bar:after {
    clear: both; }
  .filter-bar ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #f0f0f0;
    font-weight: bold; }
    .filter-bar ul li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none; }
    .filter-bar ul li a {
      color: #999; }
      .filter-bar ul li a:hover, .filter-bar ul li a.active {
        color: #333; }

.topic-list {
  margin: 20px 0;
  width: 100%;
  overflow: hidden; }
  .topic-list li {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    padding: 10px; }
    .topic-list li:before, .topic-list li:after {
      content: "";
      display: table; }
    .topic-list li:after {
      clear: both; }
    .topic-list li h2 {
      margin: 0;
      padding: 0;
      line-height: 24px; }
      .topic-list li h2 .fa {
        vertical-align: middle;
        font-size: 14px; }
      .topic-list li h2 a {
        color: #111;
        vertical-align: middle; }
    .topic-list li .author-avatar {
      width: 48px;
      float: left; }
      .topic-list li .author-avatar img {
        background: #fff;
        width: 48px;
        height: 48px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    .topic-list li .topic-title {
      float: left;
      overflow: hidden;
      width: 61%;
      padding: 0 2%; }
    .topic-list li .topic-detail {
      line-height: 48px;
      float: left;
      width: 10%; }
    .topic-list li .topic-last-reply {
      line-height: 48px;
      width: 15%;
      float: left; }

.last-reply-list ul li {
  padding-bottom: 5px;
  margin-bottom: 5px; }
  .last-reply-list ul li a {
    color: #666; }
    .last-reply-list ul li a:hover {
      color: #4083aa; }
  .last-reply-list ul li:before, .last-reply-list ul li:after {
    content: "";
    display: table; }
  .last-reply-list ul li:after {
    clear: both; }
  .last-reply-list ul li .lastreply-avatar, .last-reply-list ul li .lastreply-content {
    float: left; }
  .last-reply-list ul li .lastreply-avatar {
    margin-right: 10px; }
    .last-reply-list ul li .lastreply-avatar img {
      background: #fff;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
  .last-reply-list ul li .lastreply-content {
    width: 210px; }
    .last-reply-list ul li .lastreply-content .time {
      margin-left: 10px;
      color: #ccc; }

.topic-main h1 {
  font-size: 18px;
  margin-bottom: 10px; }
  .topic-main h1 .user-avatar img {
    background: #fff;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
.topic-main .topic-date {
  font-size: 12px;
  color: #333; }
  .topic-main .topic-date i {
    font-size: 14px; }
  .topic-main .topic-date span {
    vertical-align: middle;
    margin-left: 5px; }
.topic-main .topic-content {
  margin: 20px 0;
  font-size: 14px;
  color: #333; }
  .topic-main .topic-content img {
    max-width: 100%; }
    .topic-main .topic-content img.canzoom {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in; }
  .topic-main .topic-content ul {
    list-style-type: disc;
    list-style-position: inside; }
  .topic-main .topic-content ol {
    list-style-type: decimal;
    list-style-position: inside; }
  .topic-main .topic-content ul ul, .topic-main .topic-content ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px; }
  .topic-main .topic-content ol ol, .topic-main .topic-content ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px; }
.topic-main .topic-meta:before, .topic-main .topic-meta:after {
  content: "";
  display: table; }
.topic-main .topic-meta:after {
  clear: both; }
.topic-main .topic-meta li {
  color: #ccc;
  margin-right: 20px;
  float: left; }
  .topic-main .topic-meta li a {
    display: inline-block;
    color: #ccc; }
    .topic-main .topic-meta li a:hover {
      color: #999; }
  .topic-main .topic-meta li.share i {
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px; }
.topic-main .topic-meta .fa-clock-o {
  font-size: 16px; }

.history-list li {
  position: relative;
  padding: 2px 0 2px 14px; }
  .history-list li .fa {
    font-size: 10px;
    position: absolute;
    color: #ddd;
    left: 0;
    top: 8px;
    vertical-align: middle; }
  .history-list li a {
    color: #666; }
    .history-list li a:hover {
      color: #4083aa; }

#reply-reply-desc {
  line-height: 22px;
  color: #8a6d3b;
  background: #fcf8e3;
  width: 97%;
  padding: 1%;
  border: 1px solid #faebcc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  #reply-reply-desc .fa {
    color: rgba(0, 0, 0, 0.2);
    line-height: 22px;
    cursor: pointer; }

#reply_content {
  width: 97%;
  height: 100px;
  border: 1px solid #ddd;
  padding: 1%;
  font-size: 14px;
  resize: vertical; }

.reply-form {
  margin-top: 20px; }
  .reply-form button[type=submit] {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: #3498db; }
    .reply-form button[type=submit]:hover {
      background-color: #5dade2; }

.reply-list h2, .hot-reply-list h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px; }
  .reply-list h2 .fa, .hot-reply-list h2 .fa {
    font-size: 18px;
    margin-right: 5px; }

.reply-list, .hot-reply-list {
  margin-top: 20px; }
  .reply-list .reply-item, .hot-reply-list .reply-item {
    border-bottom: 1px solid #eee;
    width: 100%; }
    .reply-list .reply-item:before, .reply-list .reply-item:after, .hot-reply-list .reply-item:before, .hot-reply-list .reply-item:after {
      content: "";
      display: table; }
    .reply-list .reply-item:after, .hot-reply-list .reply-item:after {
      clear: both; }
    .reply-list .reply-item:last-child, .hot-reply-list .reply-item:last-child {
      border-bottom: none; }
  .reply-list .reply-wrapper, .hot-reply-list .reply-wrapper {
    margin: 20px 0;
    position: relative; }
  .reply-list .vote, .hot-reply-list .vote {
    float: left;
    font-size: 16px; }
    .reply-list .vote i, .hot-reply-list .vote i {
      cursor: pointer;
      display: block; }
    .reply-list .vote i.disable, .hot-reply-list .vote i.disable {
      color: #ccc; }
    .reply-list .vote b, .hot-reply-list .vote b {
      width: 16px;
      text-align: center;
      display: block; }
  .reply-list .user-avatar-wrapper img, .hot-reply-list .user-avatar-wrapper img {
    position: absolute;
    left: 30px;
    top: 0;
    width: 48px;
    height: 48px;
    margin-right: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .reply-list .reply-main, .hot-reply-list .reply-main {
    padding: 0 0 0 90px; }
    .reply-list .reply-main:before, .reply-list .reply-main:after, .hot-reply-list .reply-main:before, .hot-reply-list .reply-main:after {
      content: "";
      display: table; }
    .reply-list .reply-main:after, .hot-reply-list .reply-main:after {
      clear: both; }
    .reply-list .reply-main .uname, .reply-list .reply-main .usignature, .hot-reply-list .reply-main .uname, .hot-reply-list .reply-main .usignature {
      font-size: 16px;
      vertical-align: middle; }
    .reply-list .reply-main .usignature, .hot-reply-list .reply-main .usignature {
      font-size: 14px;
      color: #ccc; }
    .reply-list .reply-main .date, .hot-reply-list .reply-main .date {
      margin-left: 2%;
      vertical-align: middle;
      color: #ccc; }
    .reply-list .reply-main .reply-content, .hot-reply-list .reply-main .reply-content {
      line-height: 24px; }
    .reply-list .reply-main .rcontent, .hot-reply-list .reply-main .rcontent {
      color: #333; }
    .reply-list .reply-main .rrwrapper, .hot-reply-list .reply-main .rrwrapper {
      border-left: 3px solid #ccc;
      padding-left: 8px;
      margin: 8px 0; }
    .reply-list .reply-main .rrdesc, .hot-reply-list .reply-main .rrdesc {
      color: #ccc; }
  .reply-list .reply-meta, .hot-reply-list .reply-meta {
    margin-left: 90px; }
    .reply-list .reply-meta:before, .reply-list .reply-meta:after, .hot-reply-list .reply-meta:before, .hot-reply-list .reply-meta:after {
      content: "";
      display: table; }
    .reply-list .reply-meta:after, .hot-reply-list .reply-meta:after {
      clear: both; }
    .reply-list .reply-meta li, .hot-reply-list .reply-meta li {
      float: left; }
    .reply-list .reply-meta .fa, .hot-reply-list .reply-meta .fa {
      margin-right: 2px; }
    .reply-list .reply-meta a, .hot-reply-list .reply-meta a {
      display: inline-block;
      color: #ccc; }
      .reply-list .reply-meta a:hover, .hot-reply-list .reply-meta a:hover {
        color: #4083aa; }

.topic-collect {
  font-size: 20px; }
  .topic-collect button {
    margin-left: 10%;
    -webkit-border-radius: 999em;
    -moz-border-radius: 999em;
    -ms-border-radius: 999em;
    -o-border-radius: 999em;
    border-radius: 999em;
    background: none;
    border: 1px solid #a9d8b2;
    padding: 10px 20px;
    color: #57ad68;
    outline: 0; }
    .topic-collect button:hover {
      border: 1px solid #57ad68; }
    .topic-collect button span {
      font-size: 20px; }

.reg-form, .login-form {
  position: absolute;
  z-index: 5;
  padding: 50px 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  ront-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 540px;
  margin: 0 150px;
  text-align: center; }
  .reg-form h1, .login-form h1 {
    margin-bottom: 30px; }
  .reg-form .row, .login-form .row {
    position: relative;
    margin: 10px 0 0 0;
    height: 70px; }
  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    position: absolute;
    left: 50px;
    width: 80%;
    padding: 10px 2%;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    vertical-align: middle;
    background: #f9f9f9;
    text-align: left; }
  .reg-form label, .reg-form .tips, .login-form label, .login-form .tips {
    vertical-align: middle; }
  .reg-form label, .login-form label {
    text-align: center;
    position: absolute;
    left: 0;
    width: 50px;
    line-height: 40px; }
  .reg-form .tips, .login-form .tips {
    color: #f14f3d;
    display: none;
    position: absolute;
    top: 40px;
    line-height: 40px;
    height: 40px;
    left: 50px; }
  .reg-form .act .rememberme, .login-form .act .rememberme {
    position: absolute;
    left: 50px;
    top: -20px; }
  .reg-form .act button, .login-form .act button {
    position: absolute;
    top: 20px;
    left: 50px;
    height: 40px;
    padding: 0 30px;
    border: none;
    color: #fff;
    background: #3498db;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    .reg-form .act button:hover, .login-form .act button:hover {
      background: #5dade2; }
  .reg-form .act .goregister, .reg-form .act .gologin, .login-form .act .goregister, .login-form .act .gologin {
    position: absolute;
    top: 30px;
    right: 9%;
    color: #1abc9c; }
    .reg-form .act .goregister:hover, .reg-form .act .gologin:hover, .login-form .act .goregister:hover, .login-form .act .gologin:hover {
      color: #48c9b0; }
  .reg-form .loading, .login-form .loading {
    position: absolute;
    left: 50px;
    top: 50px; }

/*
 * settings
 */
.settings .switch-triggers:before, .settings .switch-triggers:after {
  content: "";
  display: table; }
.settings .switch-triggers:after {
  clear: both; }
.settings .switch-triggers li {
  margin-right: 10px;
  text-align: center;
  float: left; }
  .settings .switch-triggers li a {
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 0 10px;
    color: #a1a1a1;
    display: block;
    height: 38px;
    line-height: 30px;
    border-bottom: none; }
    .settings .switch-triggers li a:hover {
      color: #111;
      height: 34px;
      border-bottom: 4px solid #111;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
  .settings .switch-triggers li.cur a {
    height: 34px;
    color: #111;
    border-bottom: 4px solid #111; }
.settings .switch-contents {
  padding: 10px; }
.settings form .wyurl {
  padding-left: 65px;
  margin: 10px 0; }
.settings form button[type=submit] {
  margin: 10px 0;
  background: #3498db; }
  .settings form button[type=submit]:hover {
    background: #5dade2; }
  .settings form button[type=submit].ml {
    margin-left: 62px; }
.settings form .up-trigger {
  height: 30px;
  line-height: 30px;
  border: none;
  padding: 0px 10px;
  margin-bottom: 10px;
  background: #1abc9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  outline: 0;
  display: block; }
  .settings form .up-trigger .fa {
    font-size: 16px; }
.settings #showurl {
  color: #e74c3c; }
.settings #show-avatar {
  width: 128px;
  height: 128px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/*
 * new topic
 */
#new-topic {
  font-size: 16px; }
  #new-topic input, #new-topic textarea {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0; }
  #new-topic h1 a {
    font-size: 14px;
    line-height: 30px; }
  #new-topic .fa-video-camera:hover {
    color: #06c; }
  #new-topic #new-topic-title {
    width: 95%;
    height: 40px;
    padding: 0 2%;
    font-weight: bold;
    font-size: 16px; }
  #new-topic #new-topic-content {
    margin: 10px 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 99%;
    height: 450px;
    resize: vertical;
    background: #fff; }
  #new-topic button[type=submit] {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #3498db;
    color: #fff;
    border: none;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    #new-topic button[type=submit]:hover {
      background: #5dade2; }
  #new-topic #auto-save-trigger, #new-topic #clear-save {
    margin-left: 20px; }
  #new-topic #auto-save {
    display: none;
    margin-left: 15px; }
    #new-topic #auto-save .fa {
      margin-right: 5px; }

.addlink-popup .popup-wrapper, .uploadimg-popup .popup-wrapper, .addvideo-popup .popup-wrapper {
  margin-top: 20px; }
.addlink-popup .row, .addlink-popup p, .uploadimg-popup .row, .uploadimg-popup p, .addvideo-popup .row, .addvideo-popup p {
  margin: 10px 0; }
.addlink-popup label, .uploadimg-popup label, .addvideo-popup label {
  text-align: center;
  width: 80px; }
.addlink-popup input[type="text"], .uploadimg-popup input[type="text"], .addvideo-popup input[type="text"] {
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px; }
.addlink-popup button, .uploadimg-popup button, .addvideo-popup button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: #1abc9c;
  color: #fff;
  border: none;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .addlink-popup button:hover, .uploadimg-popup button:hover, .addvideo-popup button:hover {
    background: #48c9b0; }
.addlink-popup #video-url, .uploadimg-popup #video-url, .addvideo-popup #video-url {
  width: 270px;
  margin-right: 10px; }

.more {
  margin-top: 20px;
  text-align: center;
  font-size: 16px; }

.pager {
  margin: 16px 0;
  line-height: 40px;
  height: 40px; }
  .pager .pager-wrapper {
    float: right;
    margin: 0 auto; }
    .pager .pager-wrapper:before, .pager .pager-wrapper:after {
      content: "";
      display: table; }
    .pager .pager-wrapper:after {
      clear: both; }
    .pager .pager-wrapper li {
      line-height: 40px;
      height: 40px;
      float: left;
      text-align: center;
      padding: 0 3px;
      margin: 0 2px; }
      .pager .pager-wrapper li a {
        vertical-align: middle;
        color: #ccc; }
        .pager .pager-wrapper li a .fa {
          vertical-align: middle;
          font-size: 28px; }
        .pager .pager-wrapper li a.cur {
          color: #a1a1a1;
          cursor: default; }
        .pager .pager-wrapper li a.nums {
          font-size: 24px; }
        .pager .pager-wrapper li a:hover {
          color: #a1a1a1; }

.message-list li {
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #eee; }
  .message-list li .user-avatar {
    margin-right: 12px; }
  .message-list li p {
    margin: 0 0 8px 60px; }
    .message-list li p .date {
      color: #ccc;
      margin-left: 10px; }
  .message-list li.godetail {
    cursor: pointer; }

#new-message-form #new-message {
  margin: 10px 0;
  border: 1px solid #ddd;
  width: 50%;
  min-height: 100px;
  overflow-y: scroll;
  padding: 5px; }
#new-message-form .btn {
  background-color: #3498db;
  margin: 10px 0; }
  #new-message-form .btn:hover {
    background-color: #5dade2; }

.tips-list .action-bar {
  margin: 15px 0; }
  .tips-list .action-bar a {
    margin-right: 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background: #999; }
    .tips-list .action-bar a:hover {
      background: #666; }
.tips-list .tips-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0; }

.g-tip {
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: fixed;
  top: 60px;
  width: 20%;
  left: 40%;
  line-height: 40px;
  text-align: center;
  background: #fcf8e3;
  opacity: .8;
  color: #8a6d3b;
  z-index: 10002;
  border: 1px solid #faebcc; }
  .g-tip.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .g-tip.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }

.user-avatar {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.user-wrapper {
  position: relative;
  margin-top: -49px;
  overflow: hidden; }
  .user-wrapper .user-top-bg {
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 400px; }
    .user-wrapper .user-top-bg img.user-avatar {
      z-index: 10;
      position: absolute;
      left: 61px;
      bottom: -60px;
      width: 128px;
      height: 128px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border: 5px solid white; }
  .user-wrapper .user-main {
    width: 1040px;
    position: relative; }
    .user-wrapper .user-main:before, .user-wrapper .user-main:after {
      content: "";
      display: table; }
    .user-wrapper .user-main:after {
      clear: both; }
  .user-wrapper .user-detail {
    margin-top: 20px;
    float: left;
    width: 260px;
    overflow: hidden;
    padding-bottom: 10px;
    z-index: 99;
    text-align: center; }
    .user-wrapper .user-detail h1, .user-wrapper .user-detail h3, .user-wrapper .user-detail p, .user-wrapper .user-detail .focus {
      margin: 0 auto;
      width: 250px; }
    .user-wrapper .user-detail h1 {
      font-size: 24px; }
    .user-wrapper .user-detail p {
      border-top: 1px solid #ddd;
      margin: 8px auto;
      padding: 12px 0;
      text-align: left; }
    .user-wrapper .user-detail .focus {
      margin: 0 auto;
      padding: 15px 0;
      margin-top: 15px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd; }
      .user-wrapper .user-detail .focus:before, .user-wrapper .user-detail .focus:after {
        content: "";
        display: table; }
      .user-wrapper .user-detail .focus:after {
        clear: both; }
      .user-wrapper .user-detail .focus dl {
        float: left;
        width: 101px;
        margin: 0 12px; }
        .user-wrapper .user-detail .focus dl dt, .user-wrapper .user-detail .focus dl dd {
          margin: 0;
          color: #333;
          font-size: 16px;
          font-weight: bold;
          text-align: center; }
  .user-wrapper .user-bar {
    height: 50px;
    line-height: 50px;
    padding-left: 280px;
    font-size: 16px; }
    .user-wrapper .user-bar:before, .user-wrapper .user-bar:after {
      content: "";
      display: table; }
    .user-wrapper .user-bar:after {
      clear: both; }
    .user-wrapper .user-bar .action {
      color: #999;
      float: right; }
      .user-wrapper .user-bar .action a {
        font-size: 14px;
        margin-left: 10px;
        color: #999;
        border: 1px solid #999;
        padding: 5px 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        .user-wrapper .user-bar .action a:hover {
          color: #fff;
          background: #999; }
      .user-wrapper .user-bar .action .following {
        color: #1abc9c; }
      .user-wrapper .user-bar .action #add-relation {
        color: #1abc9c;
        border: 1px solid #1abc9c; }
        .user-wrapper .user-bar .action #add-relation:hover {
          color: #fff;
          background: #1abc9c; }
  .user-wrapper .car-list {
    width: 750px;
    margin-left: 20px;
    padding: 10px 0 10px 10px;
    float: right; }
  .user-wrapper .user-topics, .user-wrapper .user-replys {
    margin-left: 20px;
    width: 750px;
    padding: 10px 0 10px 10px;
    float: right; }
    .user-wrapper .user-topics h2, .user-wrapper .user-replys h2 {
      color: #111;
      padding-left: 10px;
      border-left: 5px solid #ddd; }
      .user-wrapper .user-topics h2 .fa, .user-wrapper .user-replys h2 .fa {
        width: 5px;
        margin-right: 5px; }
    .user-wrapper .user-topics ul li, .user-wrapper .user-replys ul li {
      font-size: 14px;
      padding-left: 10px;
      margin: 6px 0; }
      .user-wrapper .user-topics ul li a, .user-wrapper .user-replys ul li a {
        width: 650px;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #333; }
        .user-wrapper .user-topics ul li a:hover, .user-wrapper .user-replys ul li a:hover {
          color: #4083aa; }
      .user-wrapper .user-topics ul li span, .user-wrapper .user-replys ul li span {
        color: #ccc;
        float: right; }

.popup {
  width: 50%;
  padding: 10px;
  background: #fff;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3); }
  .popup img {
    max-width: 100%; }
    .popup img.canzoomout {
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
      cursor: zoom-out; }
  .popup .popup-wrapper {
    position: relative; }
  .popup:before, .popup:after {
    content: "";
    display: table; }
  .popup:after {
    clear: both; }
  .popup .p-close {
    position: absolute;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
    color: #333;
    margin: 0; }

#addcar-form h2 {
  margin-top: 12px; }
#addcar-form #showcarname {
  color: #e74c3c; }
#addcar-form select {
  width: 100px; }
#addcar-form .wycarname {
  margin: 10px 0; }
#addcar-form button[type=submit]:hover {
  background: #5dade2; }

.about h3 {
  margin-top: 20px; }

.user-list {
  width: 100%; }
  .user-list:before, .user-list:after {
    content: "";
    display: table; }
  .user-list:after {
    clear: both; }
  .user-list li {
    width: 80px;
    height: 96px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-top: 14px;
    text-align: center; }
    .user-list li .avatar, .user-list li .user-avatar {
      margin: 0 auto;
      width: 48px;
      height: 48px; }
    .user-list li .name {
      margin-top: 10px;
      line-height: 18px;
      color: #000; }

@media screen and (min-width: 767px) and (max-width: 970px) {
  .main .main-wrapper {
    width: 767px; }

  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 80%; } }
@media screen and (min-width: 480px) and (max-width: 768px) {
  .main .main-wrapper {
    width: 480px; }

  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 75%; } }
@media screen and (max-width: 479px) {
  .main .main-wrapper {
    width: 320px; }

  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 68%; } }
