.nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
  color: #fff;
  background: #333; }
  .nav:before, .nav:after {
    content: "";
    display: table; }
  .nav:after {
    clear: both; }
  .nav .nav-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 0 30px;
    position: relative; }
    .nav .nav-container:before, .nav .nav-container:after {
      content: "";
      display: table; }
    .nav .nav-container:after {
      clear: both; }
    .nav .nav-container .logo {
      width: 80px;
      float: left; }
  .nav a {
    color: #8c8c8c; }
    .nav a:hover {
      text-decoration: none; }
  .nav .search-form {
    position: relative;
    width: 50%; }
    .nav .search-form .fa-search {
      position: absolute;
      right: 39%;
      color: #000;
      top: 18px;
      font-size: 14px; }
    .nav .search-form .search {
      width: 60%;
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 14px;
      font-weight: bold;
      vertical-align: middle;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
  .nav .menu {
    position: absolute;
    text-align: right;
    right: 30px;
    width: 40%;
    height: 50px; }
    .nav .menu > li {
      float: right;
      text-align: center;
      vertical-align: middle;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
      .nav .menu > li a {
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        display: inline-block;
        color: #999; }
        .nav .menu > li a:hover {
          color: #ddd; }

footer {
  color: #999;
  padding: 20px 30px;
  border-top: 1px solid #e5e5e5;
  height: 30px;
  line-height: 30px; }
  footer a {
    color: #999; }
    footer a:hover {
      color: #666; }
  footer p {
    display: inline-block;
    margin-right: 20px; }
  footer .ft-meta {
    vertical-align: middle;
    display: inline-block; }
    footer .ft-meta li {
      float: left;
      margin-right: 10px; }
