html {
  font: 13px/1.7 "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  color: #8c8c8c;
  word-wrap: break-word; }
  body a {
    text-decoration: none;
    color: #4083aa; }
    body a:hover {
      color: #205f7e; }
  body h1, body h2 {
    font-size: 18px;
    margin: 0; }
  body h3, body h4 {
    font-size: 14px;
    margin: 0; }
  body h5, body h6 {
    font-size: 12px;
    margin: 0; }

::selection {
  background: #a8d1ff; }

::-moz-selection {
  background: #a8d1ff; }

img {
  vertical-align: middle;
  border: 0; }

p, ul, ol {
  margin: 0; }

ul, ol {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.fa {
  margin-right: 5px; }

.date {
  color: #ccc; }
