html {
  font: 13px/1.7 "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
  color: #999999; }
  body a {
    text-decoration: none;
    color: #4083aa; }
    body a:hover {
      color: #205f7e; }

img {
  vertical-align: middle;
  border: 0; }

p, ul, ol {
  margin: 0; }

ul, ol {
  padding-left: 0;
  list-style: none; }

.list-inline > li {
  display: inline-block; }
