@media screen and (max-device-width: 479px) {
  .nav .search-form {
    margin-left: 10px; }
    .nav .search-form button {
      margin-left: 0; }
  .nav .menu > li {
    margin: 10px 3px; }

  .main .main-wrapper {
    width: 320px; } }
