.bg {
  position: fixed;
  background: #000;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 1024px;
  min-height: 768px; }
  .bg img {
    width: 100%;
    min-width: 1024px;
    min-height: 768px; }

.main {
  width: 100%;
  background: #f9f9f9;
  padding: 20px 0; }
  .main .main-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin: 60px auto 10px;
    width: 1130px;
    min-height: 620px;
    padding: 30px;
    color: #666; }
    .main .main-wrapper:before, .main .main-wrapper:after {
      content: "";
      display: table; }
    .main .main-wrapper:after {
      clear: both; }

.content {
  float: left;
  width: 800px; }
  .content .list-wrapper h1 {
    float: left;
    margin: 0;
    font-size: 24px; }
  .content .topic-main .report, .content .reply-list .report, .content .hot-reply-list .report {
    color: #ccc;
    display: none; }

.sidebar {
  margin-left: 30px;
  width: 300px;
  float: left; }
  .sidebar h3, .sidebar h4 {
    margin-bottom: 10px; }
  .sidebar .side-mod {
    margin-bottom: 20px; }
  .sidebar .ad {
    width: 100%; }
    .sidebar .ad img {
      width: 100%;
      max-width: 100%; }
  .sidebar .back-action a {
    font-size: 14px; }

.new-post-btn {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  background: #1abc9c;
  color: #fff;
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .new-post-btn:hover {
    text-decoration: none;
    background: #48c9b0;
    color: #fff;
    border: none; }
    .new-post-btn:hover .fa {
      color: #fff; }
  .new-post-btn .fa {
    color: rgba(0, 0, 0, 0.2); }

.filter-bar {
  margin: 10px 0; }
  .filter-bar:before, .filter-bar:after {
    content: "";
    display: table; }
  .filter-bar:after {
    clear: both; }
  .filter-bar ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #f0f0f0;
    font-weight: bold; }
    .filter-bar ul li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none; }
    .filter-bar ul li a {
      color: #999; }
      .filter-bar ul li a:hover, .filter-bar ul li a.active {
        color: #333; }

.topic-list {
  margin: 20px 0;
  width: 100%;
  overflow: hidden; }
  .topic-list li {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding: 10px; }
    .topic-list li:before, .topic-list li:after {
      content: "";
      display: table; }
    .topic-list li:after {
      clear: both; }
    .topic-list li h2 {
      margin: 0;
      padding: 0;
      line-height: 24px; }
      .topic-list li h2 .fa {
        vertical-align: middle;
        font-size: 14px; }
      .topic-list li h2 a {
        color: #333;
        vertical-align: middle; }
    .topic-list li .author-avatar {
      width: 48px;
      margin-right: 2px;
      float: left; }
      .topic-list li .author-avatar img {
        background: #fff;
        width: 48px;
        height: 48px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    .topic-list li .topic-title {
      float: left;
      overflow: hidden;
      width: 500px;
      padding: 0 20px; }
    .topic-list li .topic-detail {
      line-height: 48px;
      float: left;
      width: 90px; }
    .topic-list li .topic-last-reply {
      line-height: 48px;
      width: 100px;
      float: left; }

.last-reply-list ul li {
  padding-bottom: 5px;
  margin-bottom: 5px; }
  .last-reply-list ul li a {
    color: #666; }
    .last-reply-list ul li a:hover {
      color: #4083aa; }
  .last-reply-list ul li:before, .last-reply-list ul li:after {
    content: "";
    display: table; }
  .last-reply-list ul li:after {
    clear: both; }
  .last-reply-list ul li .lastreply-avatar, .last-reply-list ul li .lastreply-content {
    float: left; }
  .last-reply-list ul li .lastreply-avatar {
    margin-right: 10px; }
    .last-reply-list ul li .lastreply-avatar img {
      background: #fff;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
  .last-reply-list ul li .lastreply-content {
    width: 210px; }
    .last-reply-list ul li .lastreply-content .time {
      margin-left: 10px;
      color: #ccc; }

.topic-main {
  width: 100%; }
  .topic-main h1 {
    font-size: 18px;
    margin-bottom: 10px; }
    .topic-main h1 .user-avatar img {
      background: #fff;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
  .topic-main .topic-date {
    font-size: 12px;
    color: #333; }
    .topic-main .topic-date i {
      font-size: 14px; }
    .topic-main .topic-date span {
      vertical-align: middle;
      margin-left: 5px; }
  .topic-main .topic-content {
    margin: 20px 0;
    font-size: 14px;
    color: #333; }
    .topic-main .topic-content img {
      max-width: 100%; }
      .topic-main .topic-content img.canzoom {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in; }
    .topic-main .topic-content ul {
      list-style-type: disc;
      list-style-position: inside; }
    .topic-main .topic-content ol {
      list-style-type: decimal;
      list-style-position: inside; }
    .topic-main .topic-content ul ul, .topic-main .topic-content ol ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 15px; }
    .topic-main .topic-content ol ol, .topic-main .topic-content ul ol {
      list-style-type: lower-latin;
      list-style-position: inside;
      margin-left: 15px; }
  .topic-main .topic-meta {
    font-size: 14px; }
    .topic-main .topic-meta:before, .topic-main .topic-meta:after {
      content: "";
      display: table; }
    .topic-main .topic-meta:after {
      clear: both; }
    .topic-main .topic-meta li {
      color: #ccc;
      margin-right: 20px;
      float: left; }
      .topic-main .topic-meta li a {
        display: inline-block;
        color: #ccc; }
        .topic-main .topic-meta li a:hover {
          color: #999; }
      .topic-main .topic-meta li.share i {
        cursor: pointer;
        font-size: 14px;
        margin-right: 5px; }

.history-list li {
  position: relative;
  padding: 2px 0 2px 14px; }
  .history-list li .fa {
    font-size: 10px;
    position: absolute;
    color: #ddd;
    left: 0;
    top: 8px;
    vertical-align: middle; }
  .history-list li a {
    color: #666; }
    .history-list li a:hover {
      color: #4083aa; }

#reply-reply-desc {
  line-height: 22px;
  color: #8a6d3b;
  background: #fcf8e3;
  width: 97%;
  padding: 1%;
  border: 1px solid #faebcc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  #reply-reply-desc .fa {
    color: rgba(0, 0, 0, 0.2);
    line-height: 22px;
    cursor: pointer; }

#reply_content {
  width: 97%;
  height: 100px;
  border: 1px solid #ddd;
  padding: 1%;
  font-size: 14px;
  resize: vertical; }

.reply-form {
  margin-top: 20px; }
  .reply-form button[type=submit] {
    padding: 8px 20px;
    height: 24px;
    margin-top: 20px;
    background-color: #3498db; }
    .reply-form button[type=submit]:hover {
      background-color: #5dade2; }

.reply-list h2, .hot-reply-list h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; }
  .reply-list h2 .fa, .hot-reply-list h2 .fa {
    font-size: 18px;
    margin-right: 5px; }

.reply-list, .hot-reply-list {
  margin-top: 20px; }
  .reply-list .reply-item, .hot-reply-list .reply-item {
    border-bottom: 1px solid #eee;
    width: 100%; }
    .reply-list .reply-item:before, .reply-list .reply-item:after, .hot-reply-list .reply-item:before, .hot-reply-list .reply-item:after {
      content: "";
      display: table; }
    .reply-list .reply-item:after, .hot-reply-list .reply-item:after {
      clear: both; }
    .reply-list .reply-item:last-child, .hot-reply-list .reply-item:last-child {
      border-bottom: none; }
  .reply-list .reply-wrapper, .hot-reply-list .reply-wrapper {
    margin: 20px 0;
    position: relative; }
  .reply-list .user-avatar-wrapper, .hot-reply-list .user-avatar-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    margin-right: 10px; }
  .reply-list .user-avatar-wrapper img, .hot-reply-list .user-avatar-wrapper img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .reply-list .reply-main, .hot-reply-list .reply-main {
    padding: 0 0 0 70px; }
    .reply-list .reply-main:before, .reply-list .reply-main:after, .hot-reply-list .reply-main:before, .hot-reply-list .reply-main:after {
      content: "";
      display: table; }
    .reply-list .reply-main:after, .hot-reply-list .reply-main:after {
      clear: both; }
    .reply-list .reply-main .uname, .reply-list .reply-main .usignature, .hot-reply-list .reply-main .uname, .hot-reply-list .reply-main .usignature {
      font-size: 16px;
      vertical-align: middle; }
    .reply-list .reply-main .usignature, .hot-reply-list .reply-main .usignature {
      font-size: 14px;
      color: #ccc; }
    .reply-list .reply-main .date, .hot-reply-list .reply-main .date {
      margin-left: 2%;
      vertical-align: middle;
      color: #ccc; }
    .reply-list .reply-main .reply-content, .hot-reply-list .reply-main .reply-content {
      line-height: 24px; }
    .reply-list .reply-main .rcontent, .hot-reply-list .reply-main .rcontent {
      color: #333; }
    .reply-list .reply-main .rrwrapper, .hot-reply-list .reply-main .rrwrapper {
      border-left: 3px solid #ccc;
      padding-left: 8px;
      margin: 8px 0; }
    .reply-list .reply-main .rrdesc, .hot-reply-list .reply-main .rrdesc {
      color: #ccc; }
  .reply-list .reply-meta, .hot-reply-list .reply-meta {
    margin-top: 5px; }
    .reply-list .reply-meta:before, .reply-list .reply-meta:after, .hot-reply-list .reply-meta:before, .hot-reply-list .reply-meta:after {
      content: "";
      display: table; }
    .reply-list .reply-meta:after, .hot-reply-list .reply-meta:after {
      clear: both; }
    .reply-list .reply-meta li, .hot-reply-list .reply-meta li {
      float: left;
      margin-right: 12px; }
    .reply-list .reply-meta .fa, .hot-reply-list .reply-meta .fa {
      margin-right: 2px; }
    .reply-list .reply-meta a, .hot-reply-list .reply-meta a {
      display: inline-block;
      color: #ccc; }
      .reply-list .reply-meta a:hover, .hot-reply-list .reply-meta a:hover {
        color: #4083aa; }

.topic-collect {
  font-size: 20px; }
  .topic-collect button {
    margin-left: 10%;
    -webkit-border-radius: 999em;
    -moz-border-radius: 999em;
    -ms-border-radius: 999em;
    -o-border-radius: 999em;
    border-radius: 999em;
    background: none;
    border: 1px solid #a9d8b2;
    padding: 10px 20px;
    color: #57ad68; }
    .topic-collect button:hover {
      border: 1px solid #57ad68; }
    .topic-collect button span {
      font-size: 20px; }

.reg-form, .login-form {
  position: fixed;
  top: 120px;
  z-index: 1;
  padding: 50px 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 530px;
  margin: 0 200px; }
  .reg-form h1, .login-form h1 {
    text-align: center;
    margin-bottom: 30px; }
  .reg-form .row, .login-form .row {
    margin: 30px 0 10px 0; }
  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 80%;
    padding: 10px 2%;
    margin-left: 2px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    vertical-align: middle;
    background: #f9f9f9;
    text-align: left; }
  .reg-form label, .reg-form .tips, .login-form label, .login-form .tips {
    vertical-align: middle; }
  .reg-form label, .login-form label {
    text-align: center;
    width: 50px;
    line-height: 40px; }
  .reg-form .tips, .login-form .tips {
    color: #f14f3d;
    display: none;
    position: absolute;
    top: 40px;
    line-height: 40px;
    height: 40px;
    left: 50px; }
  .reg-form .rememberme, .login-form .rememberme {
    margin-left: 54px; }
  .reg-form .act, .login-form .act {
    text-align: left; }
    .reg-form .act:before, .reg-form .act:after, .login-form .act:before, .login-form .act:after {
      content: "";
      display: table; }
    .reg-form .act:after, .login-form .act:after {
      clear: both; }
    .reg-form .act button, .login-form .act button {
      margin-left: 56px;
      float: left;
      height: 40px;
      padding: 0 30px;
      background: #3498db; }
      .reg-form .act button:hover, .login-form .act button:hover {
        background: #5dade2; }
      .reg-form .act button .fa, .login-form .act button .fa {
        color: #fff; }
    .reg-form .act .goregister, .reg-form .act .gologin, .login-form .act .goregister, .login-form .act .gologin {
      height: 40px;
      margin-left: 30px;
      line-height: 40px;
      color: #1abc9c; }
      .reg-form .act .goregister:hover, .reg-form .act .gologin:hover, .login-form .act .goregister:hover, .login-form .act .gologin:hover {
        color: #48c9b0; }
  .reg-form .loading, .login-form .loading {
    position: absolute;
    left: 50px;
    top: 50px; }

/*
 * settings
 */
.settings .switch-triggers:before, .settings .switch-triggers:after {
  content: "";
  display: table; }
.settings .switch-triggers:after {
  clear: both; }
.settings .switch-triggers li {
  margin-right: 10px;
  text-align: center;
  float: left; }
  .settings .switch-triggers li a {
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 0 10px;
    color: #ccc;
    display: block;
    height: 38px;
    line-height: 30px;
    border-bottom: none; }
    .settings .switch-triggers li a:hover {
      color: #666666;
      height: 34px;
      border-bottom: 4px solid #666666;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
  .settings .switch-triggers li.cur a {
    height: 34px;
    color: #666666;
    border-bottom: 4px solid #666666; }
.settings .switch-contents {
  padding: 10px; }
.settings form .wyurl {
  padding-left: 65px;
  margin: 10px 0; }
.settings form button[type=submit] {
  margin: 10px 0;
  background: #3498db; }
  .settings form button[type=submit]:hover {
    background: #5dade2; }
  .settings form button[type=submit].ml {
    margin-left: 62px; }
.settings form .up-trigger {
  height: 30px;
  line-height: 30px;
  border: none;
  padding: 0px 10px;
  margin-bottom: 10px;
  background: #1abc9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  outline: 0;
  display: block; }
  .settings form .up-trigger .fa {
    font-size: 16px; }
.settings #showurl {
  color: #e74c3c; }
.settings #show-avatar {
  width: 128px;
  height: 128px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

/*
 * new topic
 */
#new-topic {
  font-size: 16px; }
  #new-topic input, #new-topic textarea {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0; }
  #new-topic h1 a {
    font-size: 14px;
    line-height: 30px; }
  #new-topic .fa-video-camera:hover {
    color: #06c; }
  #new-topic #new-topic-title {
    width: 1098px;
    height: 40px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 16px; }
  #new-topic #new-topic-content {
    margin: 10px 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 1128px;
    height: 450px;
    resize: vertical;
    background: #fff; }
  #new-topic button[type=submit] {
    width: 100px;
    height: 24px;
    line-height: 24px;
    background: #3498db;
    color: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    #new-topic button[type=submit]:hover {
      background: #5dade2; }
  #new-topic #clear-save {
    float: right; }
  #new-topic #auto-save-trigger {
    margin-left: 20px; }
  #new-topic #auto-save {
    display: none;
    margin-left: 15px; }
    #new-topic #auto-save .fa {
      margin-right: 5px; }

.addlink-popup .popup-wrapper, .uploadimg-popup .popup-wrapper, .addvideo-popup .popup-wrapper {
  margin-top: 20px; }
.addlink-popup .row, .addlink-popup p, .uploadimg-popup .row, .uploadimg-popup p, .addvideo-popup .row, .addvideo-popup p {
  margin: 10px 0; }
.addlink-popup label, .uploadimg-popup label, .addvideo-popup label {
  text-align: center;
  width: 80px; }
.addlink-popup input[type="text"], .uploadimg-popup input[type="text"], .addvideo-popup input[type="text"] {
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px; }
.addlink-popup button, .uploadimg-popup button, .addvideo-popup button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: #1abc9c;
  color: #fff;
  border: none;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .addlink-popup button:hover, .uploadimg-popup button:hover, .addvideo-popup button:hover {
    background: #48c9b0; }
.addlink-popup #video-url, .uploadimg-popup #video-url, .addvideo-popup #video-url {
  width: 270px;
  margin-right: 10px; }

.more {
  margin-top: 20px;
  text-align: center;
  font-size: 16px; }

.pager {
  margin: 16px 0;
  line-height: 40px;
  height: 40px; }
  .pager .pager-wrapper {
    float: right;
    margin: 0 auto; }
    .pager .pager-wrapper:before, .pager .pager-wrapper:after {
      content: "";
      display: table; }
    .pager .pager-wrapper:after {
      clear: both; }
    .pager .pager-wrapper li {
      line-height: 40px;
      height: 40px;
      float: left;
      text-align: center;
      padding: 0 3px;
      margin: 0 2px; }
      .pager .pager-wrapper li a {
        vertical-align: middle;
        color: #ccc; }
        .pager .pager-wrapper li a .fa {
          vertical-align: middle;
          font-size: 28px; }
        .pager .pager-wrapper li a.cur {
          color: #a1a1a1;
          cursor: default; }
        .pager .pager-wrapper li a.nums {
          font-size: 24px; }
        .pager .pager-wrapper li a:hover {
          color: #a1a1a1; }

.message-list li {
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0; }
  .message-list li .user-avatar {
    margin-right: 12px; }
  .message-list li p {
    line-height: 24px;
    margin-left: 60px; }
    .message-list li p .date {
      color: #ccc;
      margin-left: 10px; }

#new-message-form #new-message {
  margin: 10px 0;
  border: 1px solid #ddd;
  width: 50%;
  min-height: 100px;
  overflow-y: scroll;
  padding: 5px; }
#new-message-form .btn {
  background-color: #3498db;
  margin: 10px 0; }
  #new-message-form .btn:hover {
    background-color: #5dade2; }

.tips-list .action-bar {
  margin: 15px 0; }
  .tips-list .action-bar a {
    margin-right: 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background: #e74c3c; }
    .tips-list .action-bar a:hover {
      background: #fc5140; }
.tips-list .tips-item {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0; }

.collect-list li {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #f0f0f0; }

.collect-list li .date {
  color: #999;
  margin-left: 10px; }

.collect-list li .topic-title:hover {
  text-decoration: underline; }

.g-tip {
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: fixed;
  top: 60px;
  width: 20%;
  left: 40%;
  line-height: 40px;
  text-align: center;
  background: #fcf8e3;
  opacity: .8;
  color: #8a6d3b;
  z-index: 10002;
  border: 1px solid #faebcc; }
  .g-tip.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .g-tip.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }

.user-avatar {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.user-wrapper {
  position: relative;
  overflow: hidden; }
  .user-wrapper .user-top-bg {
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 400px; }
    .user-wrapper .user-top-bg img.user-avatar {
      z-index: 10;
      position: absolute;
      left: 61px;
      bottom: -60px;
      width: 128px;
      height: 128px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border: 5px solid white; }
  .user-wrapper .user-main {
    width: 1130px;
    position: relative; }
    .user-wrapper .user-main:before, .user-wrapper .user-main:after {
      content: "";
      display: table; }
    .user-wrapper .user-main:after {
      clear: both; }
  .user-wrapper .user-detail {
    margin-top: 20px;
    float: left;
    width: 260px;
    overflow: hidden;
    padding-bottom: 10px;
    z-index: 99;
    text-align: center; }
    .user-wrapper .user-detail h1, .user-wrapper .user-detail h3, .user-wrapper .user-detail p, .user-wrapper .user-detail .focus {
      margin: 0 auto;
      width: 250px; }
    .user-wrapper .user-detail h1 {
      font-size: 24px; }
    .user-wrapper .user-detail p {
      border-top: 1px solid #ddd;
      margin: 8px auto;
      padding: 12px 0;
      text-align: left; }
    .user-wrapper .user-detail .focus {
      margin: 0 auto;
      padding: 15px 0;
      margin-top: 15px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd; }
      .user-wrapper .user-detail .focus:before, .user-wrapper .user-detail .focus:after {
        content: "";
        display: table; }
      .user-wrapper .user-detail .focus:after {
        clear: both; }
      .user-wrapper .user-detail .focus dl {
        float: left;
        width: 101px;
        margin: 0 12px; }
        .user-wrapper .user-detail .focus dl dt, .user-wrapper .user-detail .focus dl dd {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          text-align: center; }
  .user-wrapper .user-bar {
    height: 50px;
    line-height: 50px;
    padding-left: 280px;
    font-size: 16px; }
    .user-wrapper .user-bar:before, .user-wrapper .user-bar:after {
      content: "";
      display: table; }
    .user-wrapper .user-bar:after {
      clear: both; }
    .user-wrapper .user-bar .action {
      font-size: 13px;
      vertical-align: middle;
      float: right;
      color: #999; }
      .user-wrapper .user-bar .action .btn {
        height: 24px;
        line-height: 24px; }
      .user-wrapper .user-bar .action .message-btn {
        background-color: #bdc3c7; }
        .user-wrapper .user-bar .action .message-btn:hover {
          background-color: #cacfd2; }
        .user-wrapper .user-bar .action .message-btn .fa {
          margin-right: 3px; }
      .user-wrapper .user-bar .action a {
        margin-left: 10px;
        background-color: #1abc9c; }
        .user-wrapper .user-bar .action a:hover {
          background: #48c9b0; }
      .user-wrapper .user-bar .action #add-relation {
        width: 60px; }
        .user-wrapper .user-bar .action #add-relation .fa {
          width: 12px; }
      .user-wrapper .user-bar .action #del-relation, .user-wrapper .user-bar .action .godel {
        width: 80px; }
        .user-wrapper .user-bar .action #del-relation .fa, .user-wrapper .user-bar .action .godel .fa {
          width: 15px; }
      .user-wrapper .user-bar .action #del-relation {
        background-color: #3498db; }
        .user-wrapper .user-bar .action #del-relation:hover {
          background: #5dade2; }
        .user-wrapper .user-bar .action #del-relation.godel {
          background-color: #e74c3c; }
          .user-wrapper .user-bar .action #del-relation.godel:hover {
            background: #fc5140; }
  .user-wrapper .car-list {
    width: 750px;
    margin-left: 20px;
    padding: 10px 0 10px 10px;
    float: right; }
  .user-wrapper .user-topics, .user-wrapper .user-replys {
    margin-left: 20px;
    width: 750px;
    padding: 10px 0 10px 10px;
    float: right; }
    .user-wrapper .user-topics h2, .user-wrapper .user-replys h2 {
      color: #666;
      padding-left: 10px;
      border-left: 5px solid #ddd; }
      .user-wrapper .user-topics h2 .fa, .user-wrapper .user-replys h2 .fa {
        width: 5px;
        margin-right: 5px; }
    .user-wrapper .user-topics ul li, .user-wrapper .user-replys ul li {
      font-size: 14px;
      padding-left: 10px;
      margin: 6px 0; }
      .user-wrapper .user-topics ul li a, .user-wrapper .user-replys ul li a {
        width: 650px;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #666; }
        .user-wrapper .user-topics ul li a:hover, .user-wrapper .user-replys ul li a:hover {
          color: #4083aa; }
      .user-wrapper .user-topics ul li span, .user-wrapper .user-replys ul li span {
        color: #ccc;
        float: right; }

.popup {
  width: 50%;
  padding: 10px;
  background: #fff;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3); }
  .popup img {
    max-width: 100%; }
    .popup img.canzoomout {
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
      cursor: zoom-out; }
  .popup .popup-wrapper {
    position: relative; }
  .popup:before, .popup:after {
    content: "";
    display: table; }
  .popup:after {
    clear: both; }
  .popup .p-close {
    position: absolute;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: block;
    color: #333;
    margin: 0; }

#addcar-form, #addcar-img {
  padding: 0 30px; }
  #addcar-form h2, #addcar-img h2 {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 6px;
    margin: 28px 0 18px 0; }
  #addcar-form #otherbrand, #addcar-img #otherbrand {
    display: none;
    width: 100px;
    margin-left: 10px; }
  #addcar-form input[type=text], #addcar-form textarea, #addcar-img input[type=text], #addcar-img textarea {
    width: 600px; }
  #addcar-form #showcarurl, #addcar-img #showcarurl {
    color: #e74c3c; }
  #addcar-form label, #addcar-img label {
    width: 80px; }
  #addcar-form select, #addcar-img select {
    height: 36px;
    width: 100px; }
  #addcar-form .wycarurl, #addcar-img .wycarurl {
    margin: 10px 0 0 5px; }
  #addcar-form .caritem .remove-item, #addcar-img .caritem .remove-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #e74c3c; }
  #addcar-form .carimgs-list, #addcar-img .carimgs-list {
    width: 1120px; }
    #addcar-form .carimgs-list:before, #addcar-form .carimgs-list:after, #addcar-img .carimgs-list:before, #addcar-img .carimgs-list:after {
      content: "";
      display: table; }
    #addcar-form .carimgs-list:after, #addcar-img .carimgs-list:after {
      clear: both; }
  #addcar-form .carimg, #addcar-img .carimg {
    width: 202px;
    position: relative;
    float: left;
    margin-right: 15px; }
    #addcar-form .carimg .remove-img, #addcar-img .carimg .remove-img {
      position: absolute;
      display: none;
      top: -10px;
      left: -10px;
      width: 20px;
      height: 20px;
      text-align: center;
      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      color: #e74c3c; }
      #addcar-form .carimg .remove-img .fa, #addcar-img .carimg .remove-img .fa {
        font-size: 20px; }
    #addcar-form .carimg img, #addcar-img .carimg img {
      width: 202px;
      height: 150px; }
    #addcar-form .carimg input[type=text], #addcar-img .carimg input[type=text] {
      margin-top: 8px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      width: 190px;
      height: 30px;
      padding: 0 5px; }
  #addcar-form .ml10, #addcar-img .ml10 {
    margin-left: 10px; }
  #addcar-form .params input[type=text], #addcar-img .params input[type=text] {
    text-align: right;
    width: 50px;
    margin-right: 5px; }
  #addcar-form .params input[type=radio], #addcar-img .params input[type=radio] {
    vertical-align: middle; }
  #addcar-form .base #carname, #addcar-img .base #carname {
    width: 500px; }

.about h1 {
  margin-bottom: 12px; }
.about h3 {
  margin: 22px 0 5px 0; }

.user-list {
  width: 100%; }
  .user-list:before, .user-list:after {
    content: "";
    display: table; }
  .user-list:after {
    clear: both; }
  .user-list li {
    width: 80px;
    height: 96px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-top: 14px;
    text-align: center; }
    .user-list li .avatar, .user-list li .user-avatar {
      margin: 0 auto;
      width: 48px;
      height: 48px; }
    .user-list li .name {
      margin-top: 10px;
      line-height: 18px;
      color: #000; }
