.main {
  width: 970px;
  margin: auto; }
  .main:before, .main:after {
    content: "";
    display: table; }
  .main:after {
    clear: both; }

.reg-form, .login-form {
  width: 60%;
  margin-left: 30%; }
  .reg-form .row, .login-form .row {
    margin: 50px 0px; }
  .reg-form input[type="text"], .reg-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle; }
  .reg-form label, .reg-form span.tips, .login-form label, .login-form span.tips {
    vertical-align: middle; }
  .reg-form label, .login-form label {
    width: 50px; }
  .reg-form span.tips, .login-form span.tips {
    color: red;
    margin-left: 10px;
    display: none; }
  .reg-form .act button, .login-form .act button {
    margin-left: 52px;
    height: 50px;
    padding: 0 30px;
    border: none;
    color: #fff;
    background: red;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

/*
* settings
*/
#show-avatar, #current-avatar {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/*
* new topic
*/
#new-topic {
  font-size: 16px;
  margin-top: 50px; }
  #new-topic h1 {
    font-size: 24px; }
  #new-topic input, #new-topic textarea {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0; }
  #new-topic #new-topic-title {
    width: 900px;
    height: 40px;
    padding: 0 15px;
    font-weight: bold; }
  #new-topic #new-topic-content {
    width: 970px;
    height: 300px;
    padding: 15px; }
  #new-topic button[type=submit] {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: red;
    color: #fff;
    border: none;
    padding: 0; }
